version: '3.11'

services:
  db:
    image: postgres:12-alpine
    ports:
      - '5432:5432'

    volumes:
      - ./data:/var/lib/postgresql

    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password